.movies-card {
    background-color: #FDFDFD;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}

.movies-card__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.movies-card__description {
    font-family: Inter;
    font-style: normal;
    padding: 14px 0;
}

.movies-card__title {    
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    padding-bottom:9px;
    margin: 0;
}

.movies-card__duration {
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #A0A0A0;
    margin: 0;
}

.movies-card__button {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    background-color: transparent;
    width: 30px;
    height: 30px;
    margin-right: 14px;
    border-radius: 36px;
}

.movies-card__button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.movies-card__save {   
    background: no-repeat center url('../../images/flag.svg') #F9F9F9;
}

.movies-card__save:active {
    background: no-repeat center url('../../images/flag-active.svg') #2BE080;
}

.movies-card__delete {
    background: no-repeat center url('../../images/delete.svg') #F9F9F9;;
}

.movies-card__delete:active {
    background-color: #2BE080;
}

.movies-card__image {
    display: flex;
    max-width: 364px;
    max-height: 203px;
}