.movies {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
}

.movies__form-block {
    display: flex;
    flex-direction: column;
    margin: 70px;
}

.movies__line {
    border-bottom: 1px solid #E8E8E8;
    margin: 70px 0 10px 0;
}

@media all and (max-width: 880px) {
    .movies__form-block {
        margin: 10px 0 70px 0;
    }
    
    .movies__line {
        margin: 110px 30px 10px 30px;
    }
}