.movies {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
}

.movies__form-block {
    display: flex;
    flex-direction: column;
    margin: 70px;
}

.movies__line {
    border-bottom: 1px solid #E8E8E8;
    margin: 70px 0 10px 0;
}

.movies__request-res {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #A0A0A0;
    font-size: 24px;
    line-height: 29px;
}

.movies__request-res_visible {
    display: none;
}

@media all and (max-width: 880px) {
    .movies__form-block {
        margin: 80px 30px 70px 30px;
    }
    
    .movies__line {
        margin: 110px 30px 10px 30px;
    }
}

@media all and (max-width: 500px) {
    .movies__form-block {
        margin: 80px 10px 40px 10px;
    }
    
    .movies__line {
        margin: 45px 10px 10px 10px;
    }
}