.logo {
    margin: 18px 0 18px 70px;
    background-color: #2BE080;
    padding: 8px;
    text-align: center;
    border-radius: 10px;
}

.logo__circle {
    background-color: #FFFFFF;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: relative;
}

.logo__smile {
    position: absolute;
    left: 22.7%;
    right: 22.7%;
    top: 50%;
    bottom: 34.21%;
    width: 12px;
    height: 6px;
}