.search-form {
    height: 72px;
    width: 100%;
    max-width: 1140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #F9F9F9;
    border-radius: 9px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    font-size: 13px;
    margin: 70px;
}

.search-form__defolt-style {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

.seach-form__input {
    width: 100%;
    display: flex;    
    background: left no-repeat url('../../images/input-icon.svg');
    background-position: 19px center;
    background-size: 34px 34px;
    padding-left: 63px;
    line-height: 16px;
}

.seach-form__button {
    appearance: none;
    text-align: center;
    width: 34px;
    height: 34px;
    padding: 11px 15px;
    background-size: cover;
    background-color: #2BE080;
    border-radius: 50px;
    margin-left: 46px;
}

.search-form__checkbox{
    vertical-align: middle;
    appearance: none;
    width: 34px;
    height: 14px;
    margin-right: 14px;
    border-radius: 20px;
    background: #2BE080 center left 2px url(../../images/radio.svg) no-repeat;
}

.search-form__checkbox:checked {
    background-position: center right 2px;
}

.search-form__label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
    line-height: 18px;
    margin: 27px 30px 27px 0;
}

.search-form__line-horizontal {
    border-bottom: 1px solid #E8E8E8;
    text-align: center;
    width: 100%;
    max-width: 1140px;
    margin-bottom: 10px;
}

.search-form__line-vertical {
    height: 40px;
    border-right: 1px solid #E8E8E8;
    margin: 16px 30px;
}