.seach-form {
    height: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #F9F9F9;
    border-radius: 9px;
}

.seach-form__form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: "Inter", "Arial", "sans-serif";
    font-style: normal;
    font-weight: 400;
    color: #000000;
    font-size: 13px;
}

.search-form__defolt-style {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

.seach-form__input {
    width: 100%;
    background: left no-repeat url('../../images/input-icon.svg');
    background-position: 19px center;
    background-size: 34px 34px;
    padding-left: 63px;
    line-height: 16px;
}

.seach-form__input:hover {
    cursor: pointer;
    opacity: 0.8;
}

.seach-form__input:focus {
    color: #000000;
}

.seach-form__button {
    appearance: none;
    text-align: center;
    width: 34px;
    height: 34px;
    padding: 11px 15px;
    background-size: cover;
    background-color: #2BE080;
    border-radius: 50px;
    margin-left: 46px;
}

.seach-form__button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.search-form__line {
    height: 40px;
    border-right: 1px solid #E8E8E8;
    margin: 16px 30px;
}

@media all and (max-width: 880px) {    
    .seach-form__input {
        padding-left: 63px;
        line-height: 16px;
    }
    
   .search-form__line {
        margin: 16px 19px;
    }    
}

@media all and (max-width: 500px) {
    .seach-form {
        height: 100%;
        flex-wrap: wrap;
        justify-content: center;
        background: none;
        border: none;
    }
    
    .seach-form__form {
        height: 72px;
        background-color: #F9F9F9;
        border-radius: 9px;
        padding: 0 19px;
    }
    
     .seach-form__input {
        width: 100%;
        background: none;
        padding: 0;
        font-size: 14px;
        line-height: 20px;
    }
    
    .search-form__line {
        display: none;
    }
}
