.search-form {
    width: 100%;
    height: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #F9F9F9;
    border-radius: 9px;
}

.search-form__line {
    color: rgba(232, 232, 232, 1);
    border-bottom: 1px solid;
    text-align: center;
    margin: 70px 0 10px 0;
}