.about-project {
    display: flex;
    flex-direction: column;
    padding: 10px 70px 110px 70px;
}

.about-project__items {
    padding: 70px 0 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.about-project__item {
    max-width: 550px;
}

.about-project__item:first-of-type {
    padding-right: 40px;
}

.about-project__title {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #000000;
    margin: 0 0 26px 0;
}

.about-project__subtitle {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin: 0;
}

.about-project__scheme {
    padding: 110px 0 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.about-project__scheme-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 288px;
}

.about-project__scheme-item:last-of-type {
    max-width: 912px;
}

.about-project__scheme-indicator{
    display: flex;
    height: 36px;    
    margin: 0;
    align-items: center;
    justify-content: center;
}

.about-project__scheme-indicator_green {
    background-color: #2BE080;;
}

.about-project__scheme-indicator_grey {
    background-color: #F2F2F2;
}

.about-project__time {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    margin: 0;
    padding: 0;
    text-align: center;
}

.about-project__type {
    font-family: Suisse Intl;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #A0A0A0;
    margin: 14px 0 0;
}