.about-project {
    display: flex;
    /* flex-direction: row; */
    padding: 70px 70px 110px 70px;
}

.about-project__items {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;    
}

.about-project__item {
    max-width: 550px;
}

.about-project__item:first-of-type {
    padding-right: 40px;
}

.about-project__title {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #000000;
    margin: 0 0 26px 0;
}

.about-project__subtitle {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin: 0;
}