.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #000;
    font-family: Inter;
    font-style: normal;
}

.register__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 40px 0;
}

.register__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
    margin: 0;
    border: 0;
}

.register__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 395px;
    height: 45px;
    border: none;
    outline: none;
    padding: 0;
    margin: 20px 0 16px 0;
    font: inherit;
    color: inherit;
    background-color: #2BE080;
    border-radius: 3px;    
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

.register__button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.register__link-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

}

.register__subtitle {
    color: #A0A0A0;
    margin: 0;
}

.register__link {
    color: #2BE080;
    margin: 0 0 0 6px;
}

.register__link:hover {
    cursor: pointer;
    opacity: 0.7;
}

.register__button_disabled {
    color: #C2C2C2;
    background-color: #F8F8F8;
}

.register__button-error {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
    margin-top: 37px;
}

.register__button-error_visible {
    visibility: hidden;
}

@media all and (max-width: 425px) {        
    .register__title {
        font-size: 24px;
        line-height: 29px;
        margin: 0 0 40px 0;
    }        

    .register__block {
        align-items: center;
    }
        
    .register__button {
        width: 260px;
        margin: 15px 0 14px 0;
        font-size: 12px;
        line-height: 15px;
    }
        
    .register__link-block {
        font-size: 12px;
        line-height: 15px;
    }

    .register__button-error {
        margin-top: 130px;
    }
}